{erl_opts, [{parse_transform, lager_transform}, {src_dirs, ["src", "util","performance"]}]}.
{erl_opts, [debug_info, fail_on_warning]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}, {parse_transform, lager_transform}]}.
{eunit_compile_opts, [{parse_transform, lager_transform}, debug_info]}.

{edoc_opts, [{preprocess, true}, {dir, "../../doc"}]}.

{deps, []}.

{port_specs, [
    {"priv/niftest.so", [
        "c_src/*.c"
    ]}
]}.

{port_env, [
    {".*", "CFLAGS", "$CFLAGS -Wall -Werror -std=c99"}
]}.
